table {
  width: 100%;
}

.mat-toolbar-estado {
  background-color: purple;
}

.loading-spinner {
  background: rgba(0, 0, 0, 0.15);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-spinner {
 color: black;
 color: purple;
}
